
.wrapper {
    padding-top: 50px;

 
    h1 {color; rgb(38, 111, 194); text-align: center;}
    h2 {color:rgb(38, 111, 194); text-align: center;}
    p {color:rgb(38, 111, 194); text-align:center;}
    div {text-align: center;}
    div {padding: 10px 50px;}
